*{
  font-family: Garamond;
}
header, footer, h5{
  background-color: #00600F;
  color: white;
}
header{
  float: left;
  text-align: center;
  width: 75%;
  height: 90px;
}
header:last-of-type{
  width: 25%;
  text-align: left;
}
main{
  clear: both;
  background-color: #C8E6C9;
  height: 600px;
  overflow: scroll;
}
h5{
  font-size: 200%;
  text-align: center;
  margin: 0;
}
h2{
  text-align: right;
}
.produkt{
  float: left;
  margin: 10px;
  border: 1px solid #00600F;
  width: 300px;
}