nav, footer{
  background-color: rgb(57, 180, 107);
  text-align: center;
  font-size: 150%;
}
nav, footer, button, a{
  color: white;
}
main{
  clear: both;
  height: 300px;
}
nav{
  float: left;
  width: 20%;
  height: 220px;
}
button{
  background-color: green;
  border: green 1px solid;
  font-weight: bold;
  padding: 15px;
}
h1{
  color: rgb(27, 163, 82);
}