*{
  font-family: Georgia;
}
header, footer{
  background-color: #005B4F;
  color: white;
  text-align: center;
  height: 20px;
}
header{
  font-size: 50%;
}
footer{
  width: 50%;
  float: left;
}
main{
  background-color: #E1E2E1;
  height: 400px;
  padding: 20px;
  overflow: scroll;
}
.photo{
  float: left;
  width: 20%;
}
.desc{
  float: left;
}
.line{
  height: 1px;
  background-color: black;
  clear: both;
}
img{
  padding: 20px;
  border-radius: 100%;
}
h2{
  text-align: center;
  background-color: #00897B;
}
a{
  color: white;
}