*{
  font-family: Tahoma;
  color: white;
}
header{
  float: left;
  background-color: #983713;
  width: 17%;
  height: 100px;
}
header:nth-of-type(2){
  width: 49%;
  text-align: center;
}
section{
  float: left;
  background-color: #FF7F50;
  width: 80%;
  height: 500px;
}
section:last-of-type{
  width: 20%;
}
footer{
  clear: both;
  background-color: #983713;
  text-align: right;
}
button{
  background-color: #D3D3D3;
  color: #2F2F2F;
  border: 2px solid #2F2F2F;
  margin: 5px;
  padding: 10px 30px;
}
input{
  color: orange;
}